* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

svg {
    background-color: white;
    width: 20px;
    height: 20px;
}

.header {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,107,122,1) 43%, rgba(21,172,158,1) 100%);
    color: white;
    padding-top: 20px;
}

#perfil {
    margin: 5%;
}

.linhavertical {
    border-left: 2px solid #02e9fa;
    margin-left: 70px;
    height: 100vh;
}